@using RealEstateSystem.Models
@model  RealEstateSystem.Models.MasterItem


@{
    ViewBag.Title = "Master";
    Kmk currentKmk = Model.selectingKmk;
    if (currentKmk != null)
    {
        Model.kmkTypeDD = currentKmk.kmkType;
        Model.requiredDD = currentKmk.requiredType;
        Model.jotaiDD = currentKmk.jotai;
        Model.zenteiDD = currentKmk.zenteiKmkId;
        Model.jokenDD = currentKmk.joken;
    }






}

<style>
    .collapse {
        display: none;
    }
</style>
<script type="text/javascript">

    window.addEventListener('load', function () {


        var kmk_type_list = document.getElementById("kmk_type_list");
        var required_type_list = document.getElementById("required_type_list");
        kmk_type_list.addEventListener('change', function () {

            // 値(数値)を取得
            const num = kmk_type_list.selectedIndex;
            // 値(数値)から値(value値)を取得
            const str = kmk_type_list.options[num].value;
            if (str !== @Const.KmkType_InputText +"" && str !== @Const.KmkType_RadioButton +"" && str !== @Const.KmkType_CheckBox +"") {
                required_type_list.classList.add('collapse')
            } else {

                required_type_list.classList.remove('collapse')
            }
        });





    });

</script>
<br />
@using (Html.BeginForm("SaveModel", "Home"))
{
    <input type="submit" value="更新" />
}


<br />
@using (Html.BeginForm("AddKmk", "Home"))
{

    // 項目種別
    @Html.DropDownListFor(
    model => model.kmkTypeDD,         // プロパティ
    (IEnumerable<SelectListItem>)ViewBag.KmkTypeOptions,  // 選択オプション
    " 選択してください ",          // 空オプション
    new { @id = "kmk_type_list" }  // その他の属性
    )
    <br />
    // 必須かどうか
    @Html.DropDownListFor(
    model => model.requiredDD,        // プロパティ
    (IEnumerable<SelectListItem>)ViewBag.RequiredOptions,  // 選択オプション
    " 選択してください ",          // 空オプション
    new { @id = "required_type_list" }  // その他の属性
    )
    <br />
    // 前提項目ID
    @Html.DropDownListFor(
    model => model.zenteiDD,        // プロパティ
    (IEnumerable<SelectListItem>)ViewBag.ZenteiOptions,  // 選択オプション
    " 選択してください ",          // 空オプション
    new { @id = "zentei_list" }  // その他の属性
    )
    <br />
    // 条件
    @Html.DropDownListFor(
    model => model.jokenDD,        // プロパティ
    (IEnumerable<SelectListItem>)ViewBag.JokenOptions,  // 選択オプション
    " 選択してください ",          // 空オプション
    new { @id = "joken_list" }  // その他の属性
    )
    <br />

    // 状態
    @Html.DropDownListFor(
    model => model.jotaiDD,        // プロパティ
    (IEnumerable<SelectListItem>)ViewBag.JotaiOptions,  // 選択オプション
    " 選択してください ",          // 空オプション
    new { @id = "jotai_list" }  // その他の属性
    )
    <br />



    <button type="submit">項目追加</button>
}






<br />

<br />
<br />

@if (currentKmk != null)
{
<table>
    <tr>
        <td>項目要素ID</td>
        <td>文言前</td>
        <td>文言後</td>
        <td>入力チェック</td>
        <td>入力形式</td>
        <td>表示順</td>
    </tr>

    @foreach (KmkYs k in currentKmk.kmkYsList.Where(m => m.kmkType == currentKmk.kmkType).ToList())
    {
        <tr>
            <td>@k.kmkYsId</td>
            <td>@k.inputText_Prev</td>
            <td>@k.inputText_Back</td>
            <td></td>
            <td>入力形式</td>
            <td>表示順</td>
        </tr>

    }
</table>
}
<br />
<table>
    <tr>
        <td>
            項目ID
        </td>
        <td>
            項目種別
        </td>
        <td>
            必須/非必須
        </td>
        <td>
            項目内容
        </td>
        <td>
            前提項目ID
        </td>
        <td>
            項目条件
        </td>
        <td>
            項目の状態
        </td>
        <td colspan="2">
            表示順
        </td>
        <td>
            削除
        </td>

    </tr>



    @foreach (Kmk k in Model.kmkLIst)
    {
<tr>
    <td>@k.kmkId</td>
    <td>@k.kmkType</td>
    <td>@k.requiredType</td>
    <td>@k.zenteiKmkId</td>
    <td>@k.joken</td>
    <td>@k.jotai</td>
    <td>@k.displaySort</td>
    @using (Html.BeginForm("SelectKmk", "Home"))
    {
        <td><p><input type="submit" value="選択"/></p></td>
    }
    </tr>
    }

</table>
